.ui-dialog ul {
    margin-top: 20px;
}

.ui-widget-content a {
     color: #147fdb!important;
     text-decoration: underline!important;
}


code.userinput {
    color: #1d8102;
    background-color: var(--color-background-layout-main-td853a,#f2f3f3);
    border-radius: 2px;
    padding: 0 3px;
    font-weight: 700;
    font-size: 1em;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.message p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.upload-wrapper { margin: 10px 0 }
.hcentered { text-align: center }
.vcentered {
  display: table-cell;
  vertical-align: middle;
}
#dropzone {
   margin: 15px 0;
   border-radius: 4px;
 background: #EEEEEE;
  }
#dropzone.in {
  width: 600px;
  height: 200px;
  line-height: 200px;
  background: #147fdb;
  border: 2px dashed #fff;
  color: #fff;
  font-size: larger;
  cursor: move;
}
#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}
#progressarea {
  margin: 15px;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: none;
}
#navButtons {
    padding:0.35em 0.625em 0.35em;
}